<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirigir index.html a la raíz -->
        <rule name="Redirect index.html to root" stopProcessing="true">
          <match url="^index\.html$" />
          <action type="Redirect" url="/" redirectType="Permanent" />
        </rule>
        
        <!-- Redirigir www a no-www -->
        <rule name="Redirect www to non-www" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^www\.camadehospital\.mx$" />
          </conditions>
          <action type="Redirect" url="https://camadehospital.mx/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Forzar HTTPS -->
        <rule name="Force HTTPS" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="^OFF$" />
            <add input="{HTTP_HOST}" pattern="^camadehospital\.mx$" />
          </conditions>
          <action type="Redirect" url="https://camadehospital.mx/{R:1}" redirectType="Permanent" />
        </rule>
        
        <!-- Clean URLs para secciones -->
        <rule name="Clean URLs" stopProcessing="true">
          <match url="^(contacto|productos|precios|proceso|garantia|testimonios|preguntas)/?$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>